@model SliderImages

@{
    ViewData["Title"] = "Delete the Slider Images";
    Layout = "_AdminLayout";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            Are you sure to delete this Slider Images ?

        </h3>
    </div>
    <!-- /.card-header -->

    <div class="card-body" style="display: block;">
        <form method="post" asp-action="Delete" enctype="multipart/form-data">
            <div class="col-6">
                @if (Model.SliderImage != null)
                {
                    <p>Slider Image</p>
                    <img src="@Model.SliderImage" alt="Current Image" style="max-height: 150px; max-width: 150px;" />
                }
                <p>Slider Header : @Model.Header </p>
            </div>
            <a id="btnClose" asp-action="Index" class="btn btn-secondary float-right mt-3"><i class="ace-icon fa fa-minus-circle"></i> Cancel</a>

            <button class="btn btn-danger float-right mt-3" type="submit" value="Confirm">
                Confirm
            </button>
        </form>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</div>