@using Web.ViewModels.SliderImages
@model SliderImagesUpsertViewModel

@{
    ViewData["Title"] = "Edite Slider Images";
    Layout = "_AdminLayout";
}
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" id="Id" name="Id" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Header">Header</label>
        <input asp-for="Header" class="form-control" placeholder="Enter Header">
        <span asp-validation-for="Header" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content">Content</label>
        <input asp-for="Content" class="form-control" placeholder="Enter the Content">
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FormFileImage">Slider Image</label>
         @if (Model.ImageUrl != null)
        {
            <div>
                <img src="@Model.ImageUrl" alt="Current Image" style="max-height: 150px; max-width: 150px;" />
                <p>Current Image</p>
            </div>
        
        }
        <input asp-for="FormFileImage" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="FormFileImage" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a id="btnClose" asp-action="Index" class="btn btn-sm btn-secondary m-1 pl-3 pr-3"><i class="ace-icon fa fa-minus-circle"></i>Cancel</a>

</form>
