@using WebSiteMachines.ViewModels.AboutUs
@model AboutUsViewModel

@{
	ViewData["Title"] = "About Us";
	Layout = "_Layout";
}

<div class="boxed_wrapper">
	<div class="inner-banner has-base-color-overlay text-center" style="background: url(@Model.MainImagePath) no-repeat ; background-size: 100% 130%; background-position: center; ">

		<div class="container">
			<div class="box">
				<h3>@Model.Title</h3>
			</div>
		</div>
	</div>
	
	<section class="about-industries sec_padd">
		<div class="container">
			<div class="section-title">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-12">
						<h2>@Model.Title</h2>
						<span class="decor"></span>
					</div>
					<div class="col-md-8 col-sm-7 col-xs-12 font-20">
						<p>@Model.Description</p>
					</div>
				</div>
			</div>
			<br><br>
			<div class="border-bottom"></div>
		</div>
	</section>

	<partial name="_OurTeam" />


	
</div>
