@using WebSiteMachines.ViewModels.Product
@model ProductUpsertViewModel

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "_AdminLayout";
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" value="CategoryId" id="CategoryId" />

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name Of Product">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" placeholder="Enter Descriptionl">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category Name</label>
        <select asp-for="CategoryId" class="form-control" asp-items="@Model.Categories">
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image">Image</label>
        <input asp-for="Image" type="file" class="form-control" placeholder="Image">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a id="btnClose" asp-action="Index" class="btn btn-sm btn-secondary m-1 pl-3 pr-3"><i class="ace-icon fa fa-minus-circle"></i>Cancel</a>

</form>
