@model Product

@{
    ViewData["Title"] = "Delete Product";
    Layout = "_AdminLayout";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            Are you sure to delete this Product ?

        </h3>
    </div>
    <!-- /.card-header -->

    <div class="card-body" style="display: block;">
        <form method="post" asp-action="Delete" enctype="multipart/form-data">
            <div class="col-6">
                <p>Product Name : @Model.Name </p>
                @if (Model.ProductImage != null)
                {
                    <p>Product Image</p>
                    <img src="@Model.ProductImage" alt="Current Image" style="max-height: 150px; max-width: 150px;" />
                }
             
            </div>

            <button class="btn btn-danger float-right mt-3" type="submit" value="Confirm">
                Confirm
            </button>
        </form>
        <!-- ./col -->
    </div>
    <!-- /.row -->
</div>