@using WebSiteMachines.ViewModels.Category
@model CategoryViewModel;

@{
    ViewData["Title"] = "CategorList";
    Layout = "_AdminLayout";
}
<div class="row">
    <div class="col-12">
        <form method="post" asp-action="Index" enctype="multipart/form-data">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-search"></i>
                        Search
                    </h3>
                    <div class="card-tools">
                            <a href="/Category/Create" class="btn btn-bloks btn-success">Add</a>
                        <button type="button" class="btn btn-tool collapsed " data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body" style="display: block;">
                    <div class="row">

                        <div class="form-group col-6">
                            <label asp-for="CategorySearchViewModel.Name">Name</label>
                            <input asp-for="CategorySearchViewModel.Name" class="form-control" placeholder="Name Of Category">
                            <span asp-validation-for="CategorySearchViewModel.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <div class="card-footer" style="display: block;">
                    <button type="submit" class="btn btn-primary" style="margin-left: 80%;">
                        <i class="fas fa-search" style='font-size:22px'></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="card">
            <div class="card-body">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                                <th>Options</th>
                        </tr>
                    </thead>
                    @foreach (var item in Model.Categories)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Name</td>
                                <td>
                                        <a class="btn btn-success btn-sm" asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class='fas fa-edit'></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm" asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class=" fas fa-trash fa-lg"></i>
                                        </a>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>
</div>