@using WebSiteMachines.ViewModels.Category
@model CategoryViewModel;


@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<partial name="_SliderImages" />

    <section class="our-services">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-md-4 col-sm-5 col-xs-12">
                        <h2>Our Product</h2>
                        <span class="decor"></span>
                    </div>
                    <div class="col-md-8 col-sm-7 col-xs-12 font-20">
                        <p>We have built an enviable reputation in consumer goods, heavy industry, high-tech, <br>manufacturing, medical, recreational vehicle, and transportation sectors.</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                @foreach (var item in Model.Categories)
                {
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="single-our-service">
                       
                            <figure class="img-box">
                                <a><img src="@item.CategoryImage" alt="@item.Name" class="img-fluid" /></a>
                            </figure>
                            <a ><h4>@item.Name</h4></a>
                            <p> @item.Description </p>
                    </div>
                </div>
                }
                <div class="col-md-12"><div class="separet"></div></div>
            </div>

        </div>
    </section>

    <section class="about-section">
        <div class="container">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Welcom to Industries</h2>
                        <span class="decor"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="text font-20">
@*                         <p>We have built an enviable reputation in the consumer goods, heavy industry, high-tech, manufacturing, medical, recreational vehicle, and transportation sectors. </p>
 *@                        <p><span class="bold thm-color">Industries</span> multidisciplinary team of engineering experts can successfully carry out projects of any size and complexity. Our team offers the most up-to-date, sustainable manufacturing solutions. We only source materials from tried and trusted suppliers that meet our exacting standards of quality control. </p>
                    </div>
                    <div class="call-out clearfix">
                    <div class="pull"><a href="/ContactInfo/Index" class="thm-btn thm-color thm-tran-bg">CALL US TODAY</a></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="video-box wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <img src="~/images/resource/istockphoto.jpg" class="tran7s" />
                    </div>
                </div>
            </div>
        </div>
    </section>

    <partial name="_OurTeam" />

