@using WebSiteMachines.Interfaces

@inject IContactInfoService _Info
@{
    var Info = await _Info.GetContactInfo();
}

<header class="main-header" >
	<div class="header-top" style="padding: 7px 13px;">
		<div class="container" style="margin-left: 15%;">

				<div class="top-left pull-left">
					<ul class="links-nav clearfix">
					<li>
						<a>
							<i b-q4aidunczz="" class="fa fa-envelope-o" aria-hidden="true" style="margin-right: 5px; color: #272727;"></i>
							@Info.MailUs</a>
					</li>
					<li>
						<a>
							<i b-q4aidunczz="" class="fa fa-phone" aria-hidden="true" style="margin-right: 5px;color: #272727;"></i>
							@Info.Phone1</a>
						
					</li>

					<li>
						<a>
							<i b-q4aidunczz="" class="fa fa-phone" aria-hidden="true" style="margin-right: 5px;color: #272727;"></i>
							@Info.Phone2
						</a>

					</li>
					
					</ul>
				</div>

			</div>
		</div>
</header>
