@using WebSiteMachines.Interfaces

@inject IContactInfoService _Info
@{
    var Info = await _Info.GetContactInfo();
}

<header class="main-header" >
		<div class="header-top">
			<div class="container">
				<div class="top-left pull-left">
					<ul class="links-nav clearfix">
					<li><a href="/DashboardAdmin/Index">Admin</a></li>
					<li><a href="#">@Info.Address</a></li>
					<li><a href="#">@Info.Phone2</a></li>
					
					</ul>
				</div>
			</div>
		</div>
	</header>
 