
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Industries || Responsive HTML 5 Template</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel=" stylesheet" href=" ~/css/responsive.css" asp-append-version="true" />
	<link rel="stylesheet"  href=" ~/css/style.css" asp-append-version="true" />"

</head>


<body>

	<header class="main-header" >
		<div class="header-top">
			<div class="container">
				<div class="top-right pull-right">
					<ul class="links-nav clearfix">
						<li><a href="/DashboardAdmin/Index">Admin</a></li>
					</ul>
				</div>
			</div>
		</div>
		@* <div class="header-upper">
			<div class="container">
				<div class="clearfix">

					<div class="pull-left logo-outer">
						<div class="logo"><a href="index.html"><img src="images/logo/logo.png" alt="" title="Beirut Finance"></a></div>
					</div>

					<div class="pull-right upper-right clearfix">

						<!--Info Box-->
						<div class="upper-column info-box">
							<div class="icon-box"><span class="icon-location-pin"></span></div>
							Address : <span class="light-text">Camden Borough, <br>London, United Kingdom</span>
						</div>

						<!--Info Box-->
						<div class="upper-column info-box">
							<div class="icon-box"><span class="icon-geography"></span></div>
							Call Us : <span class="light-text">+ (12) 123 - 5567890</span> <br>Mail Us : <span class="light-text">info@industries.com</span>

						</div>

						<!--Info Box-->
						<div class="upper-column info-box">
							<div class="icon-box"><span class="icon-chronometer-outline"></span></div>
							Office Time : <span class="light-text">Monday to <br>Sunday 08:00 - 20:00</span>
						</div>
					</div>
				</div>
			</div>
		</div> *@
		<partial name="_ContactInfoHeader" />
		
	</header>

	<section class="mainmenu-wrapper stricky">
		<div class="container">
			<nav class="mainmenu-holder pull-left">
				<div class="nav-header">
					<ul class="navigation">
						<li><a href="/Home/Home" class="logo"><img src="~/images/logo/logo.png"/></a></li>

						<li><a href="/AboutUs/IndexHome">About Us</a></li>
					
						<li class="dropdown">
							<partial name="_SelectListNav" />
						</li>
						
						@* <li><a href="projects.html">Testimonial</a></li> *@
						<li><a href="/ContactInfo/Index">Contact Us</a></li>
					</ul>
				</div>
				<div class="nav-footer hidden-lg">
					<ul>
						<li><button class="menu-expander"><i class="fa fa-list-ul"></i></button></li>
					</ul>
				</div>
			</nav>
		</div>
	</section>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

	 <partial name="_Footer" />
	
	<div class="scroll-to-top scroll-to-target" data-target=".main-header">
		<span class="icon flaticon-arrows"></span>
	</div>

	<!-- jQuery js -->
    <script src="~/assets/jquery/jquery.js"></script>
	<!-- bootstrap js -->
	<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- jQuery ui js -->
	<script src="~/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
	<!-- owl carousel js -->
	<script src="~/assets/owl.carousel-2/owl.carousel.min.js"></script>
	<!-- jQuery validation -->
	<script src="~/assets/jquery-validation/dist/jquery.validate.min.js"></script>
	<!-- gmap.js helper -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRvBPo3-t31YFk588DpMYS6EqKf-oGBSI"></script>
	<!-- gmap.js -->
    <script src="~/assets/gmap.js"></script>
	<!-- mixit up -->
	<script src="~/assets/wow.js"></script>
	<script src="~/assets/jquery.mixitup.min.js"></script>
	<script src="~/assets/jquery.fitvids.js"></script>
	<script src="~/assets/bootstrap-select.min.js"></script>

	<!-- revolution slider js -->
	<script src="~/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="~/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script src="~/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
  
	<!-- fancy box -->
	<script src="~/assets/fancyapps-fancyBox/source/jquery.fancybox.pack.js"></script>
	<script src="~/assets/Polyglot-Language-Switcher-master/js/jquery.polyglot.language.switcher.js"></script>
	<script src="~/assets/nouislider/nouislider.js"></script>
	<script src="~/assets/bootstrap-touch-spin/jquery.bootstrap-touchspin.js"></script>
	<script src="~/assets/SmoothScroll.js"></script>

	<script src="~/assets/jquery-appear/jquery.appear.js"></script>
	<script src="~/assets/jquery.countTo.js"></script>

	<!-- theme custom js  -->
	<script id="map-script" src="~/js/default-map.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
