@using WebSiteMachines.Interfaces

@inject ICategoryService _categoryService
@{
    List<Category> dropDownCategories = await _categoryService.GetAllCategories(new WebSiteMachines.FiltersModel.CategoryFilter());
}


<li class="dropdown">
    <a href="Category/DropdownSolution">Solutions</a>
    <ul class="submenu">
        @foreach (var item in dropDownCategories)
        {
            <li>
                <a asp-controller="Category" asp-action="DropdownSolutionİtems" asp-route-id="@item.Id">
                    @item.Name
                </a>
            </li>
        }
    </ul>

</li>









