@using WebSiteMachines.Interfaces
@inject ISliderImagesService _sliderImages
@{
    List<SliderImages> sliders = await _sliderImages.GetAll();
}
<section class="rev_slider_wrapper ">
    <div id="slider1" class="rev_slider" data-version="5.0">
        <ul>
            @foreach (var item in sliders)
            {
                <li data-transition="slidingoverlayleft">
                    <img src="@item.SliderImage" style="background-size: 100% 130%; background-position: center;"  data-bgrepeat="no-repeat"  />
                    <div class="tp-caption sfl tp-resizeme factory-caption-h1"
                         data-x="right" data-hoffset="60"
                         data-y="top" data-voffset="150"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="500">
                        @item.Header @* <br>all Factory Business *@
                    </div>
                    <div class="tp-caption sfl tp-resizeme factory-caption-p"
                         data-x="right" data-hoffset="40"
                         data-y="top" data-voffset="300"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="500">
                        @item.Content
                    </div>
                    <div class="tp-caption sfl tp-resizeme factory-caption-p"
                         data-x="right" data-hoffset="390"
                         data-y="top" data-voffset="400"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="o:0"
                         data-transform_out="o:0"
                         data-start="500">
                        <a href="/ContactInfo/Home" class="thm-btn">Contact us</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>
